{% extends 'base.html.twig' %}

{% block title %}New FileAttente{% endblock %}

{% block body %}
    <h1>Create new FileAttente</h1>

    {{ include('file_attente/_form.html.twig') }}

    <a href="{{ path('file_attente_index') }}">back to list</a>
{% endblock %}
